.box {
  border: 2px solid black;   /* bordure noire 2px */
  margin: 10px;              /* marge externe */
  padding-left: 10px;        /* marge interne gauche */
  padding-right: 10px;       /* marge interne droite */
}
